body {
  background-color: grey;
}

h3{
  color: white;
}

h3:hover {
  color: orange ;
  font-size: 20px;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  font-family: fantasy;
}

p {
  font-size: 17px;
  font-weight: bolder;
  color: powderblue;
}

.word {
   font-weight:100;
   font-family: cursive;
 }

.def {
   background-color: cyan;
 }

.syn {
   background-color: yellow;
 }
